<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.itshere">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ItsHere">
        <activity
            android:name=".coupon.CouponDetailActivity"
            android:exported="false" />
        <activity
            android:name=".coupon.cp_add_Activity"
            android:exported="false" />
        <activity
            android:name=".accountBook.StatsDetailyActivity"
            android:exported="false" />
        <activity
            android:name=".accountBook.DailyDetailActivity"
            android:exported="false" />
        <activity
            android:name=".accountBook.statsActivity"
            android:exported="false" />
        <activity
            android:name=".account.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".account.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".accountBook.ab_add_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>